  body{
    /* font-family: Arial, Helvetica, Sans-Serif;
    #font-size: 15px;
    line-height: 1.5; */
    font: 15px/ 1.5 Raleway;
    padding: 0;
    margin: 0;
    background-color:#ffffff;
  }

  /* colors: #000104 #22381c #4c812b #ebebe1 #d7c7ad
  #0a3500 #4d7e29 #8dba69 #f1f1f1 #939393 */

  /* Global */
  .container1{
    width: 100%;
    margin: auto;
    overflow: hidden;
  }

  .container9{
    width: 90%;
    margin: auto;
    overflow: hidden;
  }

  .container8{
    width: 80%;
    margin: auto;
    overflow: hidden;
  }

  .button2{
    padding: 18px 30px 22px 30px;
    border: 0;
    color: #ffffff;
    background: #4d7e29;
    font: 25px raleway;
    align-content: center;
    margin-left: 25%;
  }

  .button1{
    padding: 18px 30px 22px 30px;
    border: 0;
    color: #ffffff;
    background: #4d7e29;
    font: 25px raleway;
    align-content: center;
  }

  .button{
    padding: 20px;
    border: 0;
    color: #ffffff;
    background: #4d7e29;
    font: 20px raleway;
    font-weight: lighter;
    width: 10%;
    margin: 0 0 100px 45%;
    align-content: center;
  }

  .dark{
    padding: 16px;
    background: #f4eceb;
    color:#ac3c64;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  /* Header */
  header{
    background: #ffffff;
    color: black;
    min-height: 80px;
    border-bottom: black 6px solid;

  }

  header a{
    color: black;
    text-decoration: None;
    text-transform: uppercase;
    font-size: 15px;
  }

  header li{
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
    margin-top: 40px;
    text-align: center;
  }

  header #branding{
    float: left;
    margin:0px;
    margin: 0px;
    padding: 0px;
  }

  #branding h1{
    font: 60px Dr Sugiyama;
  }

  header nav{
    float: right;
    margin-top: 10px;
  }

  header a:hover{
    color: #ffffff;
    font-weight: bold;
    padding: 10px;
    background: #0a3500;
  }

  /* showcase */
  #showcase{
    text-align: center;
    background-color: black;
    color: #ffffff;
    padding: 0px;
    margin: 0px;
    max-height: 914px;
  }

  /* purpose */
  #newsletter {
   padding: 15px;
   color: black;
   /* background-color: #0a3500 ; */
   font-style: italic;
   text-align: center;
   padding: 50px;
 }

 #newsletter img[src= "./img/path.jpg" ]{
   font: 100px Sweetly Broken;
   margin: 100px 10% 150px 10%;
 }

 #newsletter p{
   margin-left: 15%;
   width: 70%;
   font: 25px raleway;
   font-weight: normal;
   padding: 0 0 20px 0;
 }

 .button a{
  text-decoration: None;
  color: #ffffff;
  font-weight: 400;
}
  /* boxes */
  #boxes {
    margin: 20px 0 80px 0;
  }

  #boxes h1{
    font: 36px Raleway;
  }
  #boxes p{
    font: 18px Raleway;
  }

  #boxes .lbox {
    margin-right: 2%;
    float: left;
    width: 30%;
    padding: 10px;
    text-align: center;
    color: black;
    background-color: #ffffff;

  }

  #boxes .rbox {
    margin-left: 0;
    float: right;
    width: 30%;
    padding: 10px;
    text-align: center;
    color: black;
    background-color: #ffffff;

  }

  #collage{
    background-color: black;
    min-height: 240px;
    width: 100%;
    text-align: center;
  }

  #collage img{
    width: 100%;
  }

  #searchbar {
    background-color: black;
    height: 200px;
  }

  #searchForm {
    width: 60%;
    text-align: center;
    background-color: black;
    color: white;
    padding: 55px 20% 0 20%;
  }

  #searchForm input{
    height: 60px;
    width: 500px;
    margin: 0 20px 0 0 ;
    font: 20px Raleway;
    color: #4d7e29;
  }

  h2{
    font: 50px Dr Sugiyama;
    padding: 20px 20px 20px 20px;
    text-align: center;
  }

  table{
    font: 20px Raleway;
    font-weight: light;
  }

  table th{
    font: 30px Raleway;
    font-weight: light;
    background-color: black;
    color: white;
    padding: 15px;
  }

  #addherb{
    font: 30px Raleway;
    width: 60%;
    margin-left: 25%;
  }

  .form{
    padding: 20px 20px 20px 20px;
    text-align: left;
  }

  #addherb input{
    height: 40px;
    width: 400px;
    font: 30px Raleway;
    color: #4d7e29;
    border: 3px solid black;
  }

  #messege{
    font: 30px Raleway;
    text-align: center;
    padding-bottom: 20px;
  }

 footer {
   margin-top: 20px;
   padding: 20px;
   color: #ffffff;
   background: black;
   text-align: center;
 }
 footer a{
  text-decoration: None;
  color: white;
 }


 /* Media Quieries
 @media(max-width: 768px){
   header #branding,
   header li,
   header nav,
   #newsletter h1,
   #newsletter form,
   #boxes .box,
   article#main-col,
   aside#sidebar{
     float: None;
     text-align: center;
     width: 100%;
   }

   header{
     padding-bottom: 20px;
   }

   #showcase h1{
     margin-top: 40px;
   }

   #newsletter form{
     margin-bottom: 20px;
   }

   #newsletter form input[type="email"], .quote input, .quote textarea{
     width: 100%;
     margin-bottom: 5px;
   }

   #newsletter button, .quote button{
     display: block;
     width: 100%;

   }

   ul#services li{
     margin-bottom: 10px;
   }


 } */
